body, html {
    height:100%;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

.wrapper {
    display: flex;
    height: 100%;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
    line-height: 1.3;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.3;
}

p {
    line-height: 1.6;
}

.docs {
    width: 30vw;
    flex-shrink: 0;
    padding: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
}

.docs-list {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 2px 10px 2px 2px;
}

.doc {
    word-break: break-word;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.doc.highlighted {
    background: #fbffe2;
}

.doc:not(.opened) > h2 {
    margin-bottom: 0;
}

.doc:not(.opened) > p {
    display: none;
}

.doc:not(.opened) > .comments-panel {
    display: none;
}


.doc h2 {
    cursor: pointer;
}

.doc .terms {
    margin-top: 10px;
}

.term {
    padding: 4px;
    border-radius: 4px;
    margin: 0 2px 4px;
    font-size: 10px;
    display: inline-block;
    cursor: pointer;
}

.panels {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}

.panel {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.settings label {
    display: block;
}

.settings > * {
    margin-bottom: 10px;
}

.settings > *:last-child {
    margin-bottom: 0;
}

.settings input[type=range] {
    display: block;
    width: 100%;
    cursor: pointer;
}

.topic {
    margin-bottom: 5px;
}

.topics-list > *:last-child {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.term-detail__key {
    font-weight: bold;
}

.term-detail__row {
    margin-bottom: 10px;
}

.term-detail__row:last-child {
    margin-bottom: 0;
}

.term-detail__topic-value {
    display: inline-block;
    vertical-align: bottom;
    width: 12px;
    height: 12px;
    margin-left: 3px;
    border-radius: 50%;
}

.graph {
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
}

.loadingPanel {
    z-index: 100;
    position: absolute;
    bottom: 10px;
    color: #999999;
    left: 32.5vw;
    line-height: 1.6;
}

.loadingPanel .clearCache.active:hover {
    cursor: pointer;
    text-decoration: underline;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40vw;
    height: 80vh;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 300; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.myChartCanvas {
    width: 300px;
    height: 300px;
}

ul {
    list-style-type: circle;
}
